*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: url(../images/fondo-me.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

main{
    width: 70%;
    max-width: 1000px;
    padding: 40px 20px;
    margin: auto;
    display: flex; /* Para trabajar todos elementos hijos */
    flex-direction: column; /* Colocarlos en formato de columna */
    align-items: center; /* Centrar de forma horizontal */
}

/*  Estilos Generales de las tarjetas(delante y trasera) */
section{ /* seccion reemplaza a la class tarjeta */
    width: 60%;
    max-width: 550px;
    position: relative; /* La tarjeta tenga un efecto 3D */
    color: white;
    transition: .3s ease all;
    transform: rotateY(0deg); /* Rote y que se quede en la posición en que lo hizo */
    transform-style: preserve-3d; /* La tarjeta se vea en 3D */
    cursor: pointer;
    z-index: 2; /* La tarjeta se muestra en segunda posición */
}

/* Rote la tarjeta */
section.active{
    transform: rotateY(180deg); /* La tarjeta rote a 180 */
}

/* Acceda a ambas caras de la tarjeta */
section > article{
    padding: 30px;
    border-radius: 15px;
    min-height: 315px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;  /* Separar el contenido de una línea */
    box-shadow: 0 10px 10px 0 rgba(90,116,148,0.3);
}

/*               Tarjeta delantera               */
section .delantera{
    width: 100%;
    background: url(../Images/fondo-peru.jpg);
    background-size: cover;
}

.delantera figure{ /* figure reemplaza a la class logo-marca */
    text-align: right;
    min-height: 50px;
}

.delantera figure img{
    width: 100%;
    height: 100%;
    object-fit: cover; /* Para que el fonde de tarjeta no se distorsione */
    max-width: 80px;
}

.delantera .chip{
    width: 100%;
    max-width: 50px;
    margin-bottom: 20px;
}

.delantera .grupo .label{
    font-size: 16px;
    color: grey;
    margin-bottom: 5px;
}

.delantera .grupo .numero,
.delantera .grupo .nombre,
.delantera .grupo .expiracion{
    color: white;
    font-size: 22px;
    text-transform: uppercase;
}

.delantera .flexbox{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

/*               Tarjeta trasera               */
.trasera{
    width: 100%;
    background: url(../Images/fondo-peru.jpg);
    background-size: cover;
    position: absolute;
    top: 0;
    transform: rotateY(180deg);
    backface-visibility: hidden;
}

.trasera .barra-magnetica{
    height: 40px;
    background: black;
    width: 100%;
    position: absolute;
    top: 30px;
    left: 0;
}

.trasera .datos{
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
}

.trasera .datos p{
    margin-bottom: 5px;
}

.trasera .datos #firma{
    width: 70%;
}

.trasera .datos #firma .firma{
    height: 40px;
    background: repeating-linear-gradient(skyblue 0, skyblue 5px, orange 5px, orange 10px);
}

.trasera .datos #firma .firma p{
    line-height: 40px;
    font-family: 'Liu Jian Mao Cao', cursive;
    color: black;
    font-size: 30px;
    padding: 0 10px;
    text-transform: capitalize;
}

.trasera .datos #ccv{
    width: 20%;
}

.trasera .datos #ccv .ccv{
    background: white;
    height: 40px;
    color: black;
    padding: 10px;
    text-align: center;
}

.trasera .leyenda{
    font-size: 14px;
    line-height: 24px;
}

.trasera .link-banco{
    font-size: 14px;
    color: white;
}